.env
backup/duplicati/
data/couchdb/
data/mongo/
data/postgres/
domus/glance/
domus/mealie/
domus/obsidian-couchdb/
domus/vikunja/
media/audiobookshelf/
media/filebrowser/
media/jellyfin/
media/kavita/
media/qbittorrent/
monitoring/grafana/
monitoring/prometheus/
monitoring/speedtest-exporter/
monitoring/speedtest-tracker/
monitoring/uptime-kuma/
monitoring/watchyourlan/
net/tailscale/
net/traefik/
stuff/rclone/
tools/dockge/
tools/hishtory/
tools/signal-cli-rest-api/
tools/signal-relay/
