services:
  tailscale:
    image: tailscale/tailscale
    container_name: tailscale
    hostname: traefik
    networks: [ proxy ]
    restart: always
    environment:
      - TS_AUTHKEY=${TS_AUTHKEY}
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
      - TS_ENABLE_METRICS=true
    volumes:
      - ./tailscale:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  traefik:
    image: traefik
    container_name: traefik
    network_mode: service:tailscale
    restart: always
    security_opt:
      - no-new-privileges:true
    environment:
      - TZ=${TZ}
      - CF_API_EMAIL=${CF_API_EMAIL}
      - CF_DNS_API_TOKEN=${CF_DNS_API_TOKEN}
      - LEGO_DISABLE_CNAME_SUPPORT=true
    depends_on:
      - tailscale
    volumes:
      - /var/run:/var/run:ro
      - ./traefik/certs:/certs
    entrypoint:
      - sh
      - -c
      - |
        echo "⏳ Waiting for Docker socket…"
        until [ -S /var/run/docker.sock ]; do
          sleep 1
        done
        echo "✅ Docker socket is up, starting Traefik"
        exec traefik \
          --providers.docker=true \
          --providers.docker.exposedByDefault=false \
          --providers.docker.endpoint=unix:///var/run/docker.sock \
          --api.dashboard=true \
          --certificatesresolvers.letsencrypt.acme.dnschallenge=true \
          --certificatesresolvers.letsencrypt.acme.dnschallenge.provider=cloudflare \
          --certificatesresolvers.letsencrypt.acme.email=${LE_EMAIL} \
          --certificatesresolvers.letsencrypt.acme.storage=/certs/acme.json \
          --entrypoints.web.address=:80 \
          --entrypoints.web.http.redirections.entrypoint.to=websecure \
          --entrypoints.web.http.redirections.entrypoint.scheme=https \
          --entrypoints.websecure.address=:443 \
          --entrypoints.websecure.http.tls=true \
          --entrypoints.websecure.http.tls.certResolver=letsencrypt \
          --entrypoints.websecure.http.tls.domains[0].main=${DOMAIN} \
          --entrypoints.websecure.http.tls.domains[0].sans=${SANS_DOMAIN} \
          --log.level=INFO \
          --metrics.prometheus=true \
          --metrics.prometheus.buckets=0.1,0.3,1.2,5.0 \
          --metrics.prometheus.addEntryPointsLabels=true \
          --metrics.prometheus.addServicesLabels=true \
          --entrypoints.metrics.address=:8899 \
          --metrics.prometheus.entrypoint=metrics
    labels:
      - "traefik.enable=true"
      - 'traefik.http.routers.traefik.rule=Host(`traefik.${DOMAIN}`)'
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.tls.certresolver=letsencrypt"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.services.traefik.loadbalancer.server.port=8080"

  tor-privoxy:
    image: dockage/tor-privoxy:latest
    container_name: tor-privoxy
    restart: always
    network_mode: service:tailscale

networks:
  proxy:
    driver: bridge
    external: true

